# Chapter 7 Exercises
## Problem 2 (Algorithim Workbench)

In [1]:
names = ['Seaton', 'Joey' , 'Steve' , 'Tyler']

for name in names:
    print([name])

['Seaton']
['Joey']
['Steve']
['Tyler']

For this problem all I did was just use a for loop aand named it names. The print name statement made sure to print out the names on a seperate list by using the bracktes.

## Problem 1 (Algortihim Workbench)

In [5]:
my_list = ['Einstein', 'Newton', 'Copernicus', 'Kepler']

Im not sure if this one is completley right but for this statment all I did was use square brackets to define my list.

## Problem 1 (Programming Exercises)

In [6]:
# Start off by initiating a empty list to store sales for everyday of the week
sales = []
# Enter sales for each day of the week
for day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']:
    amount = float(input(f"Enter sales for {day}: "))
    sales.append(amount)
# Now we have to calculate the total sales for the week
total_sales = sum(sales)
# Lastly show the results
print(f"Total sales for the week: {total_sales}")

Enter sales for Monday: 10
Enter sales for Tuesday: 4
Enter sales for Wednesday: 6
Enter sales for Thursday: 7
Enter sales for Friday: 8
Enter sales for Saturday: 7
Enter sales for Sunday: 12
Total sales for the week: 54.0

For this code we just had to start off by initiating a empty list to store sales for everyday in the week. We then entered everyday in the week to calculate the amount of sales for the week. Once we had all the info we had to gather information for how many sales we made in a week

## Problem 14 (Programming Exercises)

In [10]:
Rent
950
Gas
150
Food
600
Clothing
200
Car payment
500
Misc
300
import matplotlib.pyplot as plt

# Get expense data from the file
with open("expenses.txt") as file:
    lines = file.read().splitlines()

# Separate categories and amount
categories = lines[::2]
amounts = list(map(float, lines[1::2]))

# Now gotta create a pie chart
plt.pie(amounts, labels=categories, autopct='%1.1f%%')

# Title name
plt.title("Monthly Expenses")

# Add in Pie chart
plt.show()

SyntaxError: invalid syntax (646141887.py, line 9)

First had to create a expense list. Then I incoorperaed the other part of the problem but I'm a little confused what went wrong here.

## Problem 6 (Programming Exercises)

In [12]:
def display_greater_numbers(numbers, n):
# Iterate each number in the list
    for num in numbers:
# Check if the number is greater than n
        if num > n:
#print the number 
            print(num)
my_list = [10, 20, 3, 5, 25, 5]
number = 10
display_greater_numbers(my_list, number)

20
25

the display greater numbers is the biggest key in this code because it will display the numbbers greater than 10 only. The hastags gave me a step by step on what I had to do.

## Problem 3 (Programming Exercises)

In [14]:
# Initialize empty list to store rainfall data for each month
rainfall_data = []
# Enter the total of rainfall for each month
for month in range(1, 13):
    rainfall = float(input(f"Enter the total rainfall for month {month}: "))
    rainfall_data.append(rainfall)
# Calculate total rainfall for the year
total_rainfall = sum(rainfall_data)
# Calculate rainfall for each month
average_rainfall = total_rainfall / len(rainfall_data)
# Find the month with the highest a lowest amount
highest_month = max(range(len(rainfall_data)), key=rainfall_data.__getitem__)
lowest_month = min(range(len(rainfall_data)), key=rainfall_data.__getitem__)
# Print the results
print(f"Total rainfall for the year: {total_rainfall} units")
print(f"Average monthly rainfall: {average_rainfall} units")
print(f"Month with the highest rainfall: {highest_month+1}")
print(f"Month with the lowest rainfall: {lowest_month+1}")

Enter the total rainfall for month 1: 101
Enter the total rainfall for month 2: 98
Enter the total rainfall for month 3: 112
Enter the total rainfall for month 4: 150
Enter the total rainfall for month 5: 240
Enter the total rainfall for month 6: 245
Enter the total rainfall for month 7: 198
Enter the total rainfall for month 8: 178
Enter the total rainfall for month 9: 250
Enter the total rainfall for month 10: 230
Enter the total rainfall for month 11: 110
Enter the total rainfall for month 12: 97
Total rainfall for the year: 2009.0 units
Average monthly rainfall: 167.41666666666666 units
Month with the highest rainfall: 9
Month with the lowest rainfall: 12

The rainfall data is initialized to store the rainfall data for each month. We had to get all the 12 months to calculate the rainfall for each month. We had to detremine the highest and lowest amounts.